/* The fonts */
@font-face{
	font-family:'Open Sans Light';
	src: url('font/OpenSans-Light-webfont.woff') format('woff');
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'Open Sans';
	src: url('font/OpenSans-Regular-webfont.woff') format('woff');
	font-weight:normal;
	font-style:normal
}

@font-face{
	font-family:'Open Sans';
	src: url('font/OpenSans-Semibold-webfont.woff') format('woff');
	font-weight:bold;
	font-style:normal
}

@font-face{
	font-family:'Open Sans';
	src: url('font/OpenSans-Italic-webfont.woff') format('woff');
	font-weight:normal;
	font-style:italic
}

.af_actualiza_firefox{
    width: 100%;
    color: rgb(255,255,255); 
    font-family:'Open Sans',sans-serif !important;
    font-size: 12px; 
    border-top: 2px solid rgb(248, 213, 117);
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
    background-repeat: repeat; 
    background-attachment: scroll; 
    background-position: 0% 0%; 
    background-clip: border-box; 
    background-origin: padding-box; 
    background-size: auto auto;
    z-index: 999999999;
    position: fixed;
    bottom: 0;
    left: 0;
    line-height: normal !important;
}

.af_cerrar{
    float: right;
    font-size: 16px !important;
    font-weight: bold;
    text-decoration: none;
    color:rgb(255,255,255);
    padding-right: 25px; 
    padding-top: 8px; 
    padding-bottom: 8px;
	cursor: pointer;
}

.af_cerrar:hover{
    color:rgb(237, 30, 36);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0px 4px 2px rgb(255, 255, 255) !important;
}

.af_actualizar{
    margin-top: 5px;
    margin-right: 16px;
    float: right;
    text-align: center !important;
    font-style: italic;
	font-family:'Open Sans',sans-serif !important;
}

.af_vinculo{
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    border-bottom: 1px dotted rgb(255, 255, 255);
	font-family:'Open Sans',sans-serif !important;
}

.af_vinculo:hover{
    color:rgb(0, 113, 187) !important;
    text-decoration: none;
    border-bottom: 1px dotted rgb(255, 255, 255);
	font-family:'Open Sans',sans-serif !important;
}

.af_creature{
    width: 70%;
    height: 66px;
    margin: 5px;
    background-image: url("update-creature.png");
    background-repeat: no-repeat;
    text-align: left;
	text-shadow: none !important;
}

.af_mensaje_alerta{
    margin-left: 110px;
    font-size: 16px;
	font-family:'Open Sans',sans-serif !important;
}

.af_descripcion{
    margin-left: 110px; 
    margin-top: 5px;
	font-family:'Open Sans',sans-serif !important;
}

.button_actualiza_firefox,.button_actualiza_firefox:link,.button_actualiza_firefox:visited{
	display:inline-block;
	*display:inline;
	*zoom:1;
	-moz-border-radius:.25em;
	border-radius:.25em;
	box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	background-color:#3c88cc;
	background-color:#276195;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#3c88cc),to(#276195));
	background-image:-moz-linear-gradient(#3c88cc,#276195);
	background-image:-ms-linear-gradient(#3c88cc,#276195);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#3c88cc),color-stop(100%,#276195));
	background-image:-webkit-linear-gradient(#3c88cc,#276195);
	background-image:-o-linear-gradient(#3c88cc,#276195);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c88cc', endColorstr='#276195', GradientType=0)";
	background-image:linear-gradient(#3c88cc,#276195);
	color:#fff;
	text-align:center;
	font-size:14px;
	padding:2.5px;
	/*height:20px;*/
	line-height:25px;
	text-decoration:none;
	min-width:160px;
	margin: 5px;
	border:0;
	text-shadow:0 1px 0 rgba(0,0,0,0.25);
	font-family:'Open Sans',sans-serif !important;
	font-weight: normal;
	font-style: italic;
	-webkit-transition:all linear .25s;
	-moz-transition:all linear .25s;
	-o-transition:all linear .25s;
	-ms-transition:all linear .25s;
	transition:all linear .25s;
	cursor:pointer;
	background-color:#81bc2e;
	background-color:#659324;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#81bc2e),to(#659324));
	background-image:-moz-linear-gradient(#81bc2e,#659324);
	background-image:-ms-linear-gradient(#81bc2e,#659324);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#81bc2e),color-stop(100%,#659324));
	background-image:-webkit-linear-gradient(#81bc2e,#659324);
	background-image:-o-linear-gradient(#81bc2e,#659324);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#81bc2e', endColorstr='#659324', GradientType=0)";
	background-image:linear-gradient(#81bc2e,#659324)
}

.button_actualiza_firefox:hover,.button_actualiza_firefox:link:hover,.button_actualiza_firefox:visited:hover,.button_actualiza_firefox.hover,.button_actualiza_firefox:link.hover,.button_actualiza_firefox:visited.hover,.button_actualiza_firefox:focus,.button_actualiza_firefox:link:focus,.button_actualiza_firefox:visited:focus,.button_actualiza_firefox.focus,.button_actualiza_firefox:link.focus,.button_actualiza_firefox:visited.focus{
	-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;
	-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;
	box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 2px #3089d8;
	color:#fff;
	text-decoration:none;
	-webkit-transition:all linear .25s;
	-moz-transition:all linear .25s;
	-o-transition:all linear .25s;
	-ms-transition:all linear .25s;
	transition:all linear .25s
}

.button_actualiza_firefox:focus,.button_actualiza_firefox:link:focus,.button_actualiza_firefox:visited:focus,.button_actualiza_firefox.focus,.button_actualiza_firefox:link.focus,.button_actualiza_firefox:visited.focus{
	outline-color:#484848
}

.button_actualiza_firefox:active,.button_actualiza_firefox:link:active,.button_actualiza_firefox:visited:active,.button_actualiza_firefox.active,.button_actualiza_firefox:link.active,.button_actualiza_firefox:visited.active{
	-webkit-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
	color:#fff;
	text-decoration:none;
	-webkit-transition:all linear .25s;
	-moz-transition:all linear .25s;
	-o-transition:all linear .25s;
	-ms-transition:all linear .25s;
	transition:all linear .25s
}

.button_actualiza_firefox.insensitive,.button_actualiza_firefox:link.insensitive,.button_actualiza_firefox:visited.insensitive,.button_actualiza_firefox.insensitive:hover,.button_actualiza_firefox:link.insensitive:hover,.button_actualiza_firefox:visited.insensitive:hover,.button_actualiza_firefox.insensitive:focus,.button_actualiza_firefox:link.insensitive:focus,.button_actualiza_firefox:visited.insensitive:focus{
	background-color:#9ca3aa;
	background-color:#9ca3aa;
	background-repeat:repeat-x;
	background-image:-khtml-gradient(linear,left top,left bottom,from(#bfc7cd),to(#9ca3aa));
	background-image:-moz-linear-gradient(#bfc7cd,#9ca3aa);
	background-image:-ms-linear-gradient(#bfc7cd,#9ca3aa);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bfc7cd),color-stop(100%,#9ca3aa));
	background-image:-webkit-linear-gradient(#bfc7cd,#9ca3aa);
	background-image:-o-linear-gradient(#bfc7cd,#9ca3aa);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
	background-image:linear-gradient(#bfc7cd,#9ca3aa);
	-webkit-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	box-shadow:0 2px 0 0 rgba(0,0,0,0.1),inset 0 -2px 0 0 rgba(0,0,0,0.2);
	color:#eee
}